name: CI
on: ["push"]

jobs:
  test:
    name: Lint and check dist
    runs-on: ubuntu-latest
    steps:
      - name: Set up NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
      - name: Clone source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install dependencies  
        run: yarn install
      - name: Lint code
        run: yarn lint
      - name: Create packaged JS file
        run: yarn dist && git diff --exit-code
      - name: Run action
        uses: ./
        with:
          dry-run: 'true'
