name: CI
on: ["push"]

jobs:
  test:
    name: Lint and check dist
    runs-on: ubuntu-latest
    steps:
      - name: Set up NodeJS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
      - name: Clone source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies  
        run: yarn install
      - name: Lint code
        run: yarn lint
      - name: Create packaged JS file
        run: yarn dist && git diff --exit-code
      - name: Run action
        uses: ./
        with:
          dry-run: 'true'
