name: CI
on: ["push"]

jobs:
  test:
    name: Lint and check dist
    runs-on: ubuntu-latest
    steps:
      - name: Set up NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
      - name: Clone source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies  
        run: yarn install
      - name: Lint code
        run: yarn lint
      - name: Create packaged JS file
        run: yarn dist && git diff --exit-code
      - name: Run action
        uses: ./
        with:
          dry-run: 'true'
